{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
        body {
            background: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2552&q=80);
        }
    </style>
<body>
    <div class="text-center">
        <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#loginPop">
            Login
        </button>
    </div>
    <div id="quoteContainer">
        <div class="text-center h2" id="quoteAuthor"></div>
        <div class="text-center h4">
            <q id="quoteContent"></q>
        </div>
    </div>


    <!-- The Modal -->
    <div class="modal" id="loginPop">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Please log in...</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form id="loginPop">
                        <label>Username</label>
                        <input type="text" name="username">
                        <label>Password</label>
                        <input type="password" name="password">
                        <button type="submit" class="log-in-btn btn btn btn-primary m-2">Log in</button>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

{% endblock %}