<style>
    body {
        background: whitesmoke;
    }
</style>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a><a href="{{ path('calendar') }}">Calendar</a><a href="myhomepages.php">My Homepages</a>
</div>
<!-- My homepages will have categories and you will be able to add links in categories -->
    <button class="btn btn-primary" onclick="openNav()">Menu</button>
        <div id="main"></div>

