@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

* {
    box-sizing: border-box;
	}

    body {
        background: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80');
        background-repeat: no-repeat;
        background-size: cover;
    }

    ul {
		list-style-type: none;
	}

	li {
		color: mediumslateblue;
	}

	td:hover {
		background: white;
		cursor: pointer;
	}

	table {
		border: 2px black solid;
		border-radius: 15px;
		margin: 0 auto;
		padding: 3em;
		/* background: #eee; */
		color: black;
	}

	table td {
		margin-top: 3px;
		padding: 1.2em;
		font-weight: bold;
	}

	#calendar-wrapper {
		color: white;
		display: block;
		margin: 0 auto;
	}

	#intro-heading {
		margin-bottom: 10px;
		color: black;
		display: flex;
		flex-direction: column;
		justify-content: left;
		padding: 1.4em;
        font-family: 'Libre Baskerville', serif;
        font-size: 20px;
    }

	#note-added-message {
		display: none;
	}

	a {
		text-decoration: none;
		color: black;
	}

    th {
        font-size: 1.2em;
        text-align: center;
    }
    td {
        font-size: 1.1em;
    }