    * {
    box-sizing: border-box;
    /*text-align: center;*/
	}

	ul {
		list-style-type: none;
	}

	li {
		color: mediumslateblue;
	}

	#intro-heading {
		color: black;
		margin: 0;
	}

	td:hover {
		background: white;
		cursor: pointer;
	}

	table {
		border: 2px black solid;
		border-radius: 15px;
		margin: 0 auto;
		padding: 3em;
		/* background: #eee; */
		color: black;
	}

	table td {
		margin-top: 3px;
		padding: 1.2em;
		font-weight: bold;
	}

	#calendar-wrapper {
		color: white;
		display: block;
		margin: 0 auto;
	}

	#intro-header {
		margin-bottom: 10px;
		color: black;
		display: flex;
		justify-content: center;
		/* border-top: 5px darkblue solid;
		border-bottom: 5px darkred solid;
		border-radius: 20px; */
		padding: 1.4em;
        font-family: 'Libre Baskerville', serif;
        border-top: 10px black solid;
        border-right: 10px black solid;
        border-left: 10px black solid;
    }

	#note-added-message {
		display: none;
	}

	a {
		text-decoration: none;
		color: black;
	}

    th {
        font-size: 2em;
        text-align: center;
    }
    td {
        font-size: 2em;
    }